*{
    margin: 0;
}

.fdiv{
    display: flex;
    gap: 500px;
    margin-left: 156px;
    margin-right: 20px;
    padding-top: 131px;
    margin-bottom: 130px;
    background-image:url(images/header_bg.png),linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.6));
    background-repeat: no-repeat;
    background-position: bottom right;
    
    /* height: 50vh; */
}
.let{
    font-weight: 700;
    font-size: 65px;
    font-family: Inter;
}
.pera{
    font-weight: 400;
    font-size: 18px;
    font-family: Poppins;
    color: #8a8a8a;
    margin-top: 10px;
    margin-bottom: 30px;
}

.btn1{
    padding:16px 21px;
    background-color: #ff5959;
    color:#ffffff;
    margin-bottom: 121px;
    border-radius: 5px;
    border: none;
}
.btn2{
    padding:16px 21px;
   
    color:#707070;
    margin-bottom: 121px;
    /* border-radius: 5px; */
    border: none;
}
/* .ph{
    background-position: bottom right;
} */


/* donate today */
.tdiv{
    justify-content: center;
    text-align: center;
    margin-top: 130px;
}
.today{
    font-weight: 700;
    font-size: 45px;
    font-family: Inter;
    margin-bottom: 20px;
    color: #121212;

}
.para{
    font-weight: 400;
    font-size: 18px;
    font-family: Poppins;
    margin-bottom: 50px;
    color: #8b8b8b;
}
.box{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 63px;
}
.tk{
    border: 1px solid rgb(242, 232, 232);
    background-color: #fafafa;
     height: 70px;
    width: 70px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding-top: 25px;
    padding-right: 43px;
    padding-bottom: 23px;
    padding-left: 44px;
    
}
.tk1{
    border: 1px solid rgb(242, 232, 232);
    background-color: #fafafa;
     height: 70px;
    width: 70px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding-top: 25px;
    padding-right: 43px;
    padding-bottom: 23px;
    padding-left: 44px;
}
.tk2{
    border: 1px solid rgb(242, 232, 232);
    background-color: #fafafa;
     height: 70px;
    width: 70px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding-top: 25px;
    padding-right: 43px;
    padding-bottom: 23px;
    padding-left: 44px;
}
.tk3{
    border: 1px solid rgb(242, 232, 232);
    background-color: #fafafa;
     height: 70px;
    width: 70px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding-top: 25px;
    padding-right: 43px;
    padding-bottom: 23px;
    padding-left: 44px;
}
.tk4{
    border: 1px solid rgb(242, 232, 232);
    background-color: #fafafa;
     height: 70px;
    width: 70px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding-top: 25px;
    padding-right: 43px;
    padding-bottom: 23px;
    padding-left: 44px;
}
.tk:hover{
    border: 2px solid rgb(15, 93, 202);
    background-color: #ffeeee;
    color: #ff5959;
}
.tk1:hover{
    border: 2px solid rgb(15, 93, 202);
    background-color: #ffeeee;
    color: #ff5959;
}
.tk2:hover{
    border: 2px solid rgb(15, 93, 202);
    background-color: #ffeeee;
    color: #ff5959;
}
.tk3:hover{
    border: 2px solid rgb(15, 93, 202);
    background-color: #ffeeee;
    color: #ff5959;
}
.tk4:hover{
    border: 2px solid rgb(15, 93, 202);
    background-color: #ffeeee;
    color: #ff5959;
}
.amount{
    color: #b8b8b8;
    font-weight: 400;
    font-size: 18px;
    font-family: Poppins;
}
.hor{
    margin-top: 9px;
    margin-bottom: 15px;
    background-color: #ececec;
    width: 60%;
    margin-left: 300px;
    margin-right: 300px;
    
     
}
.btn3{
    padding:16px 21px;
    background-color: #ff5959;
    color:#ffffff;
    border-radius: 5px;
    border: none;
}

/* our donate plan */
.tdiv{
    margin-top: 130px;

}

.adiv{
    /* border: 1px solid red; */
    justify-content: center;
    display: flex;
    gap: 24px;
    /* padding-left: 23px;  */
    margin-left: 156px;
 
}
.food{
    border: 1px solid rgb(250, 249, 249);
    background-color: #eef6f7;
    padding: 63px 23px 54px 22px;
    /* margin-left: 157px; */
    border-radius: 15px;
    height: 300px;
    width: 360px;
    
}
.shelter{
    background-color:#ffefef;
    padding: 63px 23px 54px 22px;
    border: 1px solid rgb(250, 249, 249);
    border-radius: 15px;
    height: 300px;
    width: 360px;
}

.education{
background-color: #fff4d6;
padding: 63px 23px 54px 22px;
border: 1px solid rgb(250, 249, 249);
border-radius: 15px;
height: 300px;
width: 360px;
}
.family{
    margin-top: 30px;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 24px;
    font-family: Poppins;
    color:#4d4a43;
}
.para1{
    font-weight: 400;
    font-size: 16px;
    font-family: Poppins;
    /* margin-bottom: 5px; */
    color: #8b8b8b;
    
}



/* 2 paragraph 2img */
.magazine{
    display: flex;
    margin-left: 156px;
    gap: 94px;
}
/* .ppara{
    
} */
.homeless{
    font-weight: 700;
    font-size: 45px;
    font-family: Inter, sans-serif;
    margin-top: 183px;
    margin-bottom: 20px;
}
.para2{
    font-weight: 400;
    font-size: 18px;
    font-family: Poppins;
    margin-bottom: 20px;
    color: #828282;
}
.para3{
    font-weight: 400;
    font-size: 18px;
    font-family: Poppins;
    margin-bottom: 20px;
    color: #828282;
}
.btn4{
    padding:16px 21px;
    background-color: #ff5959;
    color:#ffffff;
    margin-bottom: 121px;
    border-radius: 5px;
    border: none;
}
.img2{
    margin-top: 130px;
    height: 477px;
    width: 456px;
}
.magazine2{
    display: flex;
    margin-left: 156px;
    gap: 94px;
}
.img3{
    margin-top: 130px;
    height: 477px;
    width: 456px;
}
.btn5{
    padding:16px 21px;
    background-color: #ff5959;
    color:#ffffff;
    border-radius: 5px;
    border: none;
}



/* Get My Updates */


/* 2button */
.tbtn{
   
    align-items: center;
    /* justify-content: center; */
    background-color: #fff4d6;
    /* padding: 76px 88px; */
    padding-left: 189px;
    padding-top: 76px;
    padding-bottom: 76px;
    padding-right: 188px;
    margin-left: 350px;
    margin-right: 250px;
    margin-bottom: 130px;
    /* width: 809px; */
    height: 50px;
    display: flex;
}
.letter{
    padding: 14px 218px 14px 17px;
    background-color: #d9d9d9;
    color: #c7c3c3;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    padding-left: 17px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 180px;
    border: none;
}
.letter1{
    padding: 14px 42px;
    color:#ffffff;
    background-color: #ff5959;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    padding-left: 42px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 42px;
    border: none;
}

/* footer */
footer{
    background-color: #0b0d17;
    text-align: center;
    margin-top: 130px;
  
}
.last{
    font-weight: 400;
    font-size: 36px;
    font-family: Lobster;
    color: #ff5959;
    /* margin-top: 24px; */
}
.last1{
    margin-top: 30px;
    font-weight: 400;
    font-size: 14px;
    font-family: Poppins;
    color: #8c8e95;
}